body {
    font-family: 'Righteous', cursive;
}

/* Containers */


.container-wrapper--cyan {
    background-color: rgb(28, 236, 170);
    color: #ffffff;
}

.container-wrapper--black {
    background-color: black;
    color: #ffffff;
}

.hero-container {
    height: 100vh;

    background: url("https://www.fourpure.com/cdn/shop/files/Fourpure_Taproom_Events_698x458.jpg?v=1670413433") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.546);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */


.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.724);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: rgb(28, 236, 170);
    font-weight: bold;
    font-size: 90px;
    margin-bottom: 30px;
    text-shadow: 2px 2px #ffffff;
}

.jumbotron h2 {
    color: rgb(28, 236, 170);
    font-weight: bold;
    margin-bottom: 20px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #ffffff;
}


.block-divider--cyan {
    background-color: rgb(28, 236, 170);
}

.block-divider--short {
    width: 35px;
}


/* Buttons */

.btn {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-primary {
    color: #ffffff;
    background-color: rgb(28, 236, 170);
    border-color: rgb(28, 236, 170);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: rgb(10, 154, 108);
    border-color: rgb(10, 154, 108);
    color: white;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    margin-bottom: 25px;
}

.page-header h2 {
    margin-top: 0;
}

/* Who Are We */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
  }

  .who-are-we .block-divider--short {
    background-color: rgb(28, 236, 170);
}

/* Menu */

.menu .page-header {
    margin-bottom: 0;
}

.drinksmenu h3 {
    text-align: center;
}

.drinksmenu {
    text-align: center;
    color: #ffffff;
}

.drinksmenu ul {
    padding-left: 0;
}

.activities .activities-text {
    text-align: center;
    float: left;
    margin-bottom: 20px;
    margin-top: 120px;
    margin-right: 50%;
}

.activities .page-header {
    text-align: center;
    margin: auto;
}

.activities h3 {
    text-align: center;
    color: #ffffff;
}

.activities-text p {
    text-align: center;
}

.activities .activities-image {
    float: right;
    margin-bottom: 20px;
    margin-top: 120px;
    margin-right: 50%;
}

.activity-div {
    margin-top: 30px;
}

/* Map and Book A Table */

.booking .hero-container {
    height: 100vh;

    background: url("https://www.fourpure.com/cdn/shop/files/40-day-placeholder_1220x512_crop_center.jpg?v=1649169548") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
iframe {
    height: 430px;
    width: 400px;
}

.book-a-table {
    background-color: white;
    height: 450px;
    width: 500px;
}

.book-a-table h2 {
    text-align: center;
}

.form-group {
    padding-right: 10px;
    padding-left: 10px;
}

.real-submit {
    float: right;
    padding-right: 15px;
}

/* Opening Times */

.opening-times .block-divider--short {
    background-color: rgb(28, 236, 170);
}

.page-title {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-title h2 {
    margin-top: 0;
}

.page-title {
    margin-bottom: 25px;
    margin-top: 25px;
}

.page-title ul {
    padding: 0%;
}


/* Footer */

footer {
    height: 0px;
  }

  .social-networks {
    text-align: center;
    padding-left: 0;
  }
  
  .social-networks li {
    display: inline;
  }
  
  .social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:  rgb(10, 154, 108);
  }

  .footer-text {
    color: rgb(10, 154, 108);
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
  }

  