body {
    font-family: 'Righteous', cursive;
}

/* Containers */

.container-wrapper--cyan {
    background-color: rgb(28, 236, 170);
    color: #ffffff;
}

.container-wrapper--black {
    background-color: black;
    color: #ffffff;
}

.hero-container {
    height: 100vh;

    background: url("https://www.fourpure.com/cdn/shop/files/Fourpure_Taproom_Events_698x458.jpg?v=1670413433") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.546);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */


.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.724);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
    background-color: #ffffff;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: rgb(28, 236, 170);
    font-weight: bold;
    font-size: 90px;
    margin-bottom: 30px;
    text-shadow: 2px 2px #ffffff;
}

.jumbotron h2 {
    color: rgb(28, 236, 170);
    font-weight: bold;
    margin-bottom: 20px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #ffffff;
}


.block-divider--cyan {
    background-color: rgb(28, 236, 170);
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-primary {
    color: #ffffff;
    background-color: rgb(28, 236, 170);
    border-color: rgb(28, 236, 170);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: rgb(7, 104, 73);
    border-color: rgb(7, 104, 73);
    color: white;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    margin-bottom: 25px;
}

.page-header h2 {
    margin-top: 0;
}

/* Who Are We */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
  }

  .who-are-we .block-divider--short {
    background-color: rgb(28, 236, 170);
}

/* Menu */

.menu .page-header {
    margin-bottom: 0;
}

.drinksmenu h3 {
    text-align: center;
}

.drinksmenu {
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
}

.menu-image {
    margin-top: 40px;
}

.drinksmenu ul {
    padding-left: 0;
}

.activities-image {
    margin-top: 100px;
}

.activities-text {
    margin-top: 100px;
}

.activities-text p {
    text-align: center;
    margin-bottom: 0;
}

/* Book A Table */

.hero-container-two {
    min-height: 100vh;

    background: url("https://www.fourpure.com/cdn/shop/files/40-day-placeholder_1220x512_crop_center.jpg?v=1649169548") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
} 

.container1 {
    position: relative;
    max-width: 700px;
    width: 100%;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15 rgba(0,0,0,0.1);
}

.container1 h2 {
    color: black;
    font-weight: 500;
    text-align: center;
}

.container1 .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: black;
}

.form .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    color: black;
    margin-top: 8px;
    outline: none;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 0 15px;
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form-button {
    float: right;
    margin-top: 30px;
    padding-right: 15px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
}


/* Opening Times & Map */

.opening-times .block-divider--short {
    background-color: rgb(28, 236, 170);
}

.page-title {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-title h2 {
    margin-top: 0;
}

.page-title {
    margin-bottom: 25px;
    margin-top: 25px;
}

.page-title ul {
    padding: 0%;
}

iframe {
    height: 430px;
    width: 400px;
}

/* Footer */

.footer {
    height: 0;
  }

.social-networks i {
    font-size: 160%;
    padding: 5%;
    color:  rgb(10, 154, 108);
  }

  .social-networks li {
    display: inline;
  }

  .social-networks {
    text-align: center;
    padding-left: 0;
    padding-bottom: 0;
    background-color: black;
  }

  